@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Righteous&display=swap');
.black-color{

    background: #000000;
}

.banner-image{
    margin-top: 100px;
}
.banner-text h1{
    font-family: 'Berkshire Swash', cursive;

    font-family: 'Righteous', cursive;
    color: #FF5E19;
    padding-top: 100px;
    font-size: 72px;
}
.card-img{
    height: 150px;
    width: 150px;
   
}


